{% extends 'base.html' %}

{% block title %} ログイン {% endblock %}

{% block content %}
    <h1>ログインページ</h1>

    {% include "../widget_validation_error.html" with errors=form.non_field_errors %}
    <form action="" method="POST">

        <input
            type="text"
            name="username"
            placeholder="ユーザ名"
        >

        <br />

        <input
            type="password"
            name="password"
            placeholder="パスワード"
        >

        <input
            type="submit"
            value="ログイン"
        >

        {% csrf_token %}

    </form>


{% endblock%}