{% extends 'base.html' %}

{% block title %}ログイン{% endblock %}

{% block content %}
	<div class="Login">
	
		<header class="Header">
            
            <h2> Login App</h2>
			
		</header>
		
		<article class="Form">
		
            {% include "../widget_validation_error.html" with errors=form.non_field_errors %}
			<form action="#" method="post">
				
                <input
                    type="text"
                    name="username"
                    placeholder="ユーザ名"
                    class="Input"
                >

                <input
                    type="password"
                    name="password"
                    placeholder="パスワード"
                    class="Input"
                >
				
                <input 
                    type="submit" 
                    value="ログイン"
                    class="Button"
				>
                {% csrf_token %}
			</form>
		</article>
	</div>
{% endblock%}