{% extends 'base.html' %}

{% block title %}ユーザ登録{% endblock %}

{% block content %}
	<div class="Login">
	
		<header class="Header">
            
            <h2> Login App</h2>
			
		</header>
		
		<article class="Form">
		
			<form action="#" method="post">
				
                <input
                    type="text"
                    name="username"
                    value="{{ form.username.value | default_if_none:'' }}"
                    placeholder="ユーザ名"
                    class="Input"
                >
                {% include "../widget_validation_error.html" with errors=form.username.errors %}

                <input
                    type="password"
                    name="password"
                    value="{{ form.password.value | default_if_none:'' }}"
                    placeholder="パスワード"
                    class="Input"
                >
                {% include "../widget_validation_error.html" with errors=form.password.errors %}
				
                <input 
                    type="submit" 
                    value="ユーザ登録"
                    class="Button"
				>
                {% csrf_token %}
			</form>
		</article>
	</div>
{% endblock%}