{% extends 'base.html' %}

{% block title %} ユーザ登録 {% endblock %}

{% block content %}
    <h1>ユーザ登録ページ</h1>


    <form action="" method="POST">

        <input
            type="text"
            name="username"
            placeholder="ユーザ名"
            value="{{ form.username.value | default_if_none:'' }}"
        >
        {% include "../widget_validation_error.html" with errors=form.username.errors %}

        <br />

        <input
            type="password"
            name="password"
            placeholder="パスワード"
            value="{{ form.password.value | default_if_none:'' }}"
        >
        {% include "../widget_validation_error.html" with errors=form.password.errors %}

        <input
            type="submit"
            value="登録"
        >

        {% csrf_token %}

    </form>


{% endblock%}